branca==0.4.2
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
flake8==4.0.1
folium==0.12.1.post1
idna==3.3
Jinja2==3.1.1
MarkupSafe==2.1.1
mccabe==0.6.1
numpy==1.22.3
Pillow==9.1.0
pyfiglet==0.8.post1
pyflakes==2.4.0
qrcode==7.3.1
termcolor==1.1.0
urllib3==1.26.9
